* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'system-ui', 'sans-serif';
    font-size: 1.6rem;
}

/* NAV */
nav {
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: darksalmon;
    color: #fff;
}

.nav-title {
    margin-left: 2em;
}

.nav-items {
    position: relative;
    left: 70%;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 0 .5em;
    color: #fff;
    text-decoration: none;
}

/* HEADER */
.header {
    height: 50vh;
    background-image: url("/lesson4/img/headerbackground.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.header-text {
    display: inline;
    position: relative;
    font-size: 5rem;
    width: 30%;
    top: 40px;
    left: 40px;
    color: darksalmon;
    border-right: 1px solid darksalmon;
}

/* ARTICLES */

/* normalnie wrapper umieściłbym w klasach na samej górze, jako ogólna, ale że w tym przypadku uzywam jej tylko w .articles, to dałem ją tu. */
.wrapper {
    max-width: 1200px;
}


.articles {
    display: flex;
    justify-content: center;
}

.articles-title,
.articles-subtitle,
.article-text {
    text-align: center;
    margin: 1em auto;
}

.articles-subtitle {
    font-size: 2rem;
    /* na screenie z wytycznymi ta czcionka wydawała mi się jakaś szarawa, więc użyłem tutaj szarego koloru ;) */
    color: gray;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: 3em auto;
}

.boxes .box-title {
    margin-bottom: .5em;
}

.boxes .box-text {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.box {
    padding: .8rem;
    width: 30%;
    text-align: center;
    background-color: linen;
    cursor: default;
    transition: transform .3s, outline .3s;
}

.box:hover {
    transform: scale(1.1);
    outline: 1px solid lightslategray;
}

/* BOTTOM-SECTION */
.bottom-section {
    display: flex;
    height: 70vh;
    justify-content: space-between;
    background-color: darksalmon;
}

.aboutus,
.form {
    margin: 2em 3em auto 1em;
    width: 30%;
}

.first-text,
.second-text {
    margin-top: 1em;
}

.logo-img {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: flex-end;
}

.logo-img img {
    margin-bottom: .5em;
    height: 300px;
}

.form {
    display: flex;
    padding-left: 5em;
    flex-direction: column;
    align-items: flex-start;
}

.form .form-title {
    margin-bottom: 1em;
}

.form label,
.form input,
.form button {
    margin: 1em 0;
}

.form input {
    padding: .5em;
}

.form input:focus {
    outline: none;
}

.form li {
    list-style: none;
}

.form button {
    height: 50px;
    width: 100px;
    color: #fff;
    background-color: #000;
    border: none;
    transition: opacity .3s;
}

.form button:hover {
    opacity: .5;
}